body {
    font-family: Roboto, sans-serif;
    margin: 0
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

img {
    width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 68px;
    align-items: center;
    padding: 12px;
}

.hero-info,
.header-links {
    color: #e5e7eb;
    font-size: 18px;
}

.header-title,
.hero-title {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

div.hero-title {
    font-size: 48px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
    
}

button {
    width: fit-content;
    padding: 4px 14px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #3882f6  ;
    color: #f9faf8;
    font-size: 18px;
}

.info {
    width: 200px;
    height: 200px;
}

.info img {
    width: 200px;
    height: 200px;
    border: 4px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 5px;
}

.information-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

.information-imgs {
    display: flex;
    margin-top: 32px;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 32px;
}

.information-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 500px;
    align-self: center;
}

.author {
    align-self: center;
    margin: 12px;
    margin-left: 225px
}

.bottom-page {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #3882f6;
    width: 700px;
    color: #e5e7eb;
    padding: 48px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.bottom-container {
    display: flex;
    flex-direction: column;
}

.call-action {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 40px;
    font-size: 18px;
}